@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Ensayo POO2 </h1>
    <h2>manejo de Brach y merge GitHub</h2>
    <h3>Video 1 : Flujo</h3>
</div>
<div >
    ####Branch es rama y merge es mesclar. Las ramas sirven 
    como puntos de partida de los cambios lo cual ayuda 
    a limpiar el codigo antes de meterlodirectamente al codigo base.


</div>
