@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Ensayo POO2 </h1>
    <h2>manejo de Brach y merge GitHub</h2>
    <h3>Video 1 : Flujo</h3>
    <div>
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git log
        commit 20ebc50be2da8532bf2115610af704a11392ced8 (HEAD -> main, origin/main)
        Author: Scarew.net <134906636+ScanMst@users.noreply.github.com>
        Date:   Tue Jul 9 23:00:39 2024 -0600

        commit 20ebc50be2da8532bf2115610af704a11392ced8 (HEAD -> main, origin/main)
        Author: Scarew.net <134906636+ScanMst@users.noreply.github.com>
        Date:   Tue Jul 9 23:00:39 2024 -0600

        Date:   Tue Jul 9 23:00:39 2024 -0600
        first commit
    </div>
    <h3>Video 2 : Git Branch</h3>
    <div>
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        * main
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch primera_rama
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        * main
        primera_rama
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch -d primera_rama
        Deleted branch primera_rama (was 20ebc50).
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        * main
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch nombre_viejo
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        * main
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch primera_rama
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        * main
        primera_rama
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch -d primera_rama
        Deleted branch primera_rama (was 20ebc50).
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        * main
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch nombre_viejo
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        * main
        nombre_viejo
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch -m nombre_viejo nombre-nuevo
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        * main
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch primera_rama
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        * main
        primera_rama
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch -d primera_rama
        Deleted branch primera_rama (was 20ebc50).
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        * main
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch nombre_viejo
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch primera_rama
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        * main
        primera_rama
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch -d primera_rama
        Deleted branch primera_rama (was 20ebc50).
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        * main
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch nombre_viejo
        * main
        primera_rama
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch -d primera_rama
        Deleted branch primera_rama (was 20ebc50).
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        * main
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch nombre_viejo
        Deleted branch primera_rama (was 20ebc50).
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        * main
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch nombre_viejo
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        * main
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch nombre_viejo
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        * main
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch nombre_viejo
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        * main
        nombre_viejo
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch -m nombre_viejo nombre-nuevo
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo> git branch
        * main
        nombre-nuevo
        PS C:\Users\ulise\OneDrive\Documentos\Poo\EnsayoPoo>
    </div>
    <h3>Video 3 : Git chekout</h3>
    <div>
        linea 1
        
    </div>

</div>
